<!-- TODO: Handle null fields -->
<div class="container-fluid offset-lg-4 col-lg-4 offset-md-2 col-md-8">
  <ul class="list-group list-group-flush">
    <!-- <li class="list-group-item">{{ match.head2head.numberOfMatches }}</li>
    <li class="list-group-item">{{ match.match.head2head.totalGoals }}</li>
    <li class="list-group-item">{{ match.head2head.homeTeam.wins }}</li>
    <li class="list-group-item">{{ match.head2head.homeTeam.draws }}</li>
    <li class="list-group-item">{{ match.head2head.homeTeam.losses }}</li>
    <li class="list-group-item">{{ match.head2head.awayTeam.wins }}</li>
    <li class="list-group-item">{{ match.head2head.awayTeam.draws }}</li>
    <li class="list-group-item">{{ match.head2head.awayTeam.losses }}</li> -->
    <li class="list-group-item">Competition: {{ match.match.competition.name }}</li>
    <li class="list-group-item">Competition Start Date: {{ match.match.season.startDate | date: 'dd/MM/yyyy'}}</li>
    <li class="list-group-item">Competition End Date: {{ match.match.season.endDate | date: 'dd/MM/yyyy' }}</li>
    <!-- <li class="list-group-item">{{ match.match.season.winner }}</li> -->
    <li class="list-group-item">Match Date: {{ match.match.utcDate | date: 'dd/MM/yyyy H:mm' }}</li>
    <!-- <li class="list-group-item">{{ match.match.venue }}</li> -->
    <li class="list-group-item"># Matchday: {{ match.match.matchday }}</li>
    <!-- <li class="list-group-item">{{ match.match.score.winner }}</li> -->
    <!-- <li class="list-group-item">{{ match.match.score.duration }}</li> -->
    <!-- <li class="list-group-item">{{ match.match.halfTime.homeTeam }}</li>
    <li class="list-group-item">{{ match.match.halfTime.awayTeam }}</li>
    <li class="list-group-item">{{ match.match.fullTime.homeTeam }}</li>
    <li class="list-group-item">{{ match.match.fullTime.awayTeam }}</li> -->
    <li class="list-group-item">Home Team: {{ match.match.homeTeam.name }}</li>
    <li class="list-group-item">Away Team: {{ match.match.awayTeam.name }}</li>
    <!-- <li class="list-group-item">{{ match.match.referees }}</li> -->
  </ul>

</div>
