<div class="container-fluid">
  <table class="table table-striped offset-lg-2 col-lg-8 offset-md-1 col-md-10">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Home Team</th>
        <th scope="col">Away Team</th>
        <th scope="col">Score</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of fixtures.matches">
        <td> {{ match.utcDate | date: 'dd/MM/yyyy H:mm' }}</td>
        <td>
          <a routerLink="/teams/{{match.homeTeam.id}}">{{ match.homeTeam.name }}</a>
        </td>
        <td>
          <a routerLink="/teams/{{match.awayTeam.id}}">{{ match.awayTeam.name }}</a>
        </td>
        <td>{{ match.score.fullTime.homeTeam }} : {{ match.score.fullTime.awayTeam }}
        </td>
        <td>
          <a class="btn btn-info" routerLink="/matches/{{match.id}}" role="button">Match Info</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
